*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
}
.gachngang{
    text-decoration: line-through;
}
.fontawesome{
    display: flex;
    justify-content: space-between;
    font-size: small;
}
.post{
    display: flex;
    width: 1290px;
    background-color: #ccc;
    padding: 20px 15px 20px 20px;
}
.post-item{
    width: calc(100%/6);
    margin-right: 8px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px black;
}
h2{
    font-size: medium;
}
.dem_5px{
    padding: 5px;
    margin: 2px;
}
.mau_do{
    color: rgb(218, 19, 19);
}